<div class="container">

  <ngb-tabset>
    <ngb-tab title="Posts">
      <ng-template ngbTabContent>
        <posts-list-selector></posts-list-selector>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Pages">
      <ng-template ngbTabContent>
        <pages-list-selector></pages-list-selector>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Redirects">
      <ng-template ngbTabContent>
        <redirects-list-selector></redirects-list-selector>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Account">
      <ng-template ngbTabContent>
        <account-form-selector></account-form-selector>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>


</div>