<div class="container p-3">
  <h1>Post Details</h1>
  <hr />
  <form name="postForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group row">
      <label for="title" class="col-sm-2"><strong>Title</strong></label>
      <div class="col-sm-10">
        <input type="text" id="title" name="title" class="form-control" [(ngModel)]="post.title" #title="ngModel"
          required />
        <div *ngIf="f.submitted && title.invalid" class="alert alert-danger">
          <div *ngIf="title.errors.required"><i class="icon-exclamation mr-2"></i>Title is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="slug" class="col-sm-2"><strong>Slug</strong></label>
      <div class="col-sm-10">
        <input type="text" id="slug" name="slug" class="form-control" [(ngModel)]="post.slug" />
        <button type="button" class="btn btn-link" (click)="slugifyTitle()">Generate from title</button>
      </div>
    </div>
    <div class="form-group row">
      <label for="postImage" class="col-sm-2"><strong>Post Image</strong></label>
      <div class="col-sm-10">
        <app-image-upload [currentUrl]="post.thumbnailUrl" [uploadType]="'posts'" [imageWidth]="700" [imageHeight]="400"
          (urlChange)="post.thumbnailUrl=$event"></app-image-upload>
      </div>
    </div>
    <div class="form-group row">
      <label for="summary" class="col-sm-2"><strong>Summary</strong></label>
      <div class="col-sm-10">
        <textarea id="summary" name="summary" class="form-control" rows="4" [(ngModel)]="post.summary"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">
        <label for="body"><strong>Body</strong></label>
        <div>
          <label><strong>Word Count - {{postWordCount}}</strong></label>
        </div>
      </div>
      <div class="col-sm-10">
        <ckeditor id="body" name="body" [config]="editorOptions" [editor]="editor" [(ngModel)]="post.body"></ckeditor>
      </div>
    </div>
    <div class="form-group row">
      <label for="tags" class="col-sm-2"><strong>Tags</strong></label>
      <div class="col-sm-10">
        <input type="text" id="tags" name="tags" class="form-control" [(ngModel)]="post.tags" #tags="ngModel"
          appSplitControl required />
        <div *ngIf="f.submitted && tags.invalid" class="alert alert-danger">
          <div *ngIf="tags.errors.required"><i class="icon-exclamation mr-2"></i>Tags are required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="publishDate" class="col-sm-2"><strong>Publish Date</strong></label>
      <div class="col-sm-3">
        <div class="input-group">
          <span class="input-group-addon"><i class="icon-calendar-o md-36 mr-2"></i></span>
          <input id="publishDate" name="publishDate" class="form-control text-right" [(ngModel)]="currentDateObj"
            [ngModelOptions]="{standalone: true}" #postDate="ngModel" ngbDatepicker #dp="ngbDatepicker"
            (focus)="dp.toggle()" (dateSelect)="onDateSelect($event)" required />
        </div>
        <div *ngIf="f.submitted && postDate.invalid" class="alert alert-danger">
          <div *ngIf="postDate.errors.required"><i class="icon-exclamation mr-2"></i>Publish date is
            required</div>
        </div>
      </div>
      <div class="col-sm-7"></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <div class="checkbox">
          <label class="switch" for="publish">
            <input type="checkbox" [(ngModel)]="post.publish" id="publish" name="publish">
            <div class="slider round"></div>
          </label>
          <span class="checkbox-label ml-2">Publish</span>
        </div>
      </div>
    </div>
    <hr />
    <div class="form-group">
      <div *ngIf="f.submitted && f.form.invalid" class="alert alert-danger">
        Please correct any errors trying to save.
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-secondary" [routerLink]="['/admin']">Cancel</a>
        <button type="button" class="btn btn-danger" (click)="deletePost()" *ngIf="post._id">Delete</button>
      </div>
    </div>
  </form>
</div>
