<div class="container">
  <div class="p-3">
    <h3 class="header-inline">Posts</h3>
    <a routerLink="posts/add" class="btn btn-primary float-right">
      <i class="icon-plus mr-2"></i>New Post
    </a>
  </div>
  <div class="ag-grid-container">
    <ag-grid-angular class="ag-theme-material" [ngStyle]="gridStyle" [hidden]="!posts" [rowHeight]="50"
      [columnDefs]="postsColumnDef" [frameworkComponents]="frameworkComponents" [context]="context"
      (gridReady)="onGridReady($event)" (firstDataRendered)="onFirstDataRendered()">
    </ag-grid-angular>
  </div>
</div>
