<div class="container">
    <div class="p-3">
        <h3 class="header-inline">301 Redirects</h3>
        <a routerLink="redirects/add" class="btn btn-primary float-right">
            <i class="icon-plus mr-2"></i>New Redirect
        </a>
    </div>
    <div class="ag-grid-container">
        <ag-grid-angular class="ag-theme-material" [rowHeight]="45" [rowData]="redirects" [columnDefs]="redirectsColumnDef"
            [frameworkComponents]="frameworkComponents" [context]="context" (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>