<div class="container">
  <div class="p-3">
    <h3 class="header-inline">Config</h3>
  </div>
  <div class="ag-grid-container">
    <form name="cmsConfigForm" #cmsConfigForm="ngForm" novalidate>
      <div>
        <div class="mt-2 row">
          <strong>Default Post URL Structure</strong>
          <div class="row">
            <div class="col-md-4">
              <input type="radio" name="defaultUrlStructure" [(ngModel)]="cmsConfig.defaultUrlStructure"
                [value]="'date'" />
              <span class="ms-2">Date and Slug</span>
            </div>
            <div class="col-md-8 permaLinkExample mb-2">
              <span class="ms-2">{{hostUrl}}/blog/post/2021/01/01/sample-post</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <input type="radio" name="defaultUrlStructure" [(ngModel)]="cmsConfig.defaultUrlStructure"
                [value]="'slug'" />
              <span class="ms-2">Slug</span>
            </div>
            <div class="col-md-8 permaLinkExample mb-2">
              <span class="ms-2">{{hostUrl}}/blog/post/sample-post</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
