<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <h3>{{appName}} Newsletter</h3>
  <br />
  <p>
    Please Confirm Subscription
  </p>
  <p>
    <a href="{{url}}" target="_blank">Yes, subscribe me to this list.</a>
  </p>
  <strong>If you didn't make this request, simply delete it. You won't be subscribed if you don't click the confirmation link above.</strong>
  <br />
  <br />
  <p>For questions about this list, please contact the {{appName}} Support Team at {{fromEmail}}</p>
</body>

</html>