<div class="blog-footer">
    <div class="container p-3">
        <div class="row">
            <div class="col-sm-4">
                <hr />
                <h3>MEANcore-CMS</h3>
                <ul class="about-list">
                    <li>
                        <a routerLink="/about">About</a>
                    </li>
                    <li>
                        <a routerLink="/contact">Contact</a>
                    </li>
                    <li>
                        <a routerLink="/subscribe">Subscribe</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <hr />
                <h3>Months</h3>
                <ul class="month-list">
                    <li *ngFor="let year of years; let $index=index" class="year" (click)="expandedIndex = $index === expandedIndex ? -1 : $index">
                        {{year.value}}
                        <ul *ngIf="$index === expandedIndex" [id]="year.value">
                            <li *ngFor="let month of year.months">
                                <a [routerLink]="'/blog/posts/date/' + year.value + '/' + month.value">{{month.name}}</a>
                                ({{month.postCount}})
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <hr />
                <h3>Tags</h3>
                <ul class="tag-list">
                    <li *ngFor="let tag of tags" class="tag comma mr-2">
                        <a [routerLink]="'/blog/posts/tag/' + tag.slug">#{{tag.text}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>