.blog-footer h3 {
  text-transform: uppercase
}

.blog-footer h3,
.blog-footer p {
  color: #fff;
  font-weight: 900;
}

.blog-footer a {
  color: #b70e0c;
  font-weight: 600;
}

.blog-footer a:hover {
  color: #7b7b7b;
}


.blog-footer li,
.blog-footer ul {
  margin: 0;
  padding: 0
}

.blog-footer {
  background-color: #2f2f2f
}

.blog-footer li {
  list-style: none
}

.blog-footer ul ul {
  padding-left: 20px
}

.month-list,
.tag-list {
  color: #fff;

}

.year {
  cursor: pointer;
}

.tag {
  float: left;
}

hr {
  background-color: #fff;
}
