<div class="container">
    <div>
        <h3 class="header-inline">Subscribers</h3>
        <button type="button" class="btn btn-primary float-right" (click)="exportSubscribers()">
            <i class="fas fa-file-download mr-2"></i>Export
        </button>
    </div>
    <div class="ag-grid-container">
        <ag-grid-angular class="ag-theme-material" [rowHeight]="45" [rowData]="subscribers" [columnDefs]="subscribersColumnDef"
            [frameworkComponents]="frameworkComponents" [context]="context" (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>