<div class="container">
    <div class="card">
        <div class="card-body">
            <h3><i class="fas fa-binoculars mr-2"></i>About MEANcore-CMS</h3>
            <p class="card-text">
                MEANcore-CMS is a blogging platform built with the MEAN Stack (MongoDB, ExpressJS, AngularJS,
                NodeJS). MEANcore-CMS has been designed with developers in mind, to be easily extensible and
                customisable throughout the code base.
            </p>
        </div>
        <div class="card-footer float-right">
            <a routerLink="/contact" class="btn btn-primary float-right">Contact</a>
        </div>
    </div>
</div>