.post-author {
  color: #b70e0c
}

.post-author:hover {
  color: #7b7b7b;
  text-decoration: none;
}

.title-avatar {
  width: 4em !important;
  height: 4em !important;
}

.bio-avatar {
  width: 6em !important;
  height: 6em !important;
}

.author-social-links{
    font-size: 2em;
}

a {
  color: #b70e0c;
}

a:focus,
a:hover {
  color: #7b7b7b;
}