.post-details-author {
  color: #b70e0c
}

.post-details-author:hover {
  color: #7b7b7b;
  text-decoration: none;
}

.post-details-image {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  border-radius: 10px;
}

.title-avatar {
  width: 4em !important;
  height: 4em !important;
}

.bio-avatar {
  width: 6em !important;
  height: 6em !important;
}

.author-social-links{
    font-size: 2em;
}

a {
  color: #b70e0c;
}

a:focus,
a:hover {
  color: #7b7b7b;
}