<div *ngIf="profile && profile" class="container p-3">
  <h3>Profile Details</h3>
  <hr />
  <form name="profileForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group row">
      <label for="firstName" class="col-sm-2"><strong>First Name</strong></label>
      <div class="col-sm-4">
        <input type="text" id="firstName" name="firstName" class="form-control" [(ngModel)]="profile.firstName"
          #firstName="ngModel" spellcheck="false" />
      </div>
      <div class="col-sm-6"></div>
    </div>
    <div class="form-group row">
      <label for="lastName" class="col-sm-2"><strong>Last Name</strong></label>
      <div class="col-sm-4">
        <input type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="profile.lastName"
          #lastName="ngModel" spellcheck="false" />
      </div>
      <div class="col-sm-6"></div>
    </div>
    <div class="form-group row">
      <label for="username" class="col-sm-2"><strong>Username</strong></label>
      <div class="col-sm-4">
        <input type="text" id="username" name="username" class="form-control" [(ngModel)]="profile.username"
          #username="ngModel" spellcheck="false" required />
        <div *ngIf="f.submitted && username.invalid" class="alert alert-danger">
          <div *ngIf="username.errors.required"><i class="icon-exclamation mr-2"></i>Username is required</div>
          <div *ngIf="username.errors.alreadyused">
            <i class="icon-exclamation mr-2"></i>Username already in use
          </div>
          <div *ngIf="username.errors.alreadyused">Available: {{possibleUsername}}</div>
        </div>
      </div>
      <div class="col-sm-6"></div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2"><strong>Email</strong></label>
      <div class="col-sm-4">
        <input type="email" id="email" name="email" class="form-control" [(ngModel)]="profile.email" #email="ngModel"
          spellcheck="false" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" />
        <div *ngIf="f.submitted && email.invalid" class="alert alert-danger">
          <div *ngIf="email.errors.required"><i class="icon-exclamation mr-2"></i>Email is required</div>
          <div *ngIf="email.errors.pattern">
            <i class="icon-exclamation mr-2"></i>Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="col-sm-6"></div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2"><strong>Password</strong></label>
      <div class="col-sm-4">
        <div>
          <input type="password" id="password" name="password" type="password" class="form-control inline-control"
            [(ngModel)]="profile.password" #password="ngModel" spellcheck="false" appPasswordToggle
            ngbTooltip="{{passwordTooltip}}" />
        </div>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngFor="let passwordError of passwordErrors" class="alert alert-danger">
            <i class="icon-exclamation mr-2"></i>{{passwordError}}
          </div>
        </div>
        <app-password-validator [hidden]="!profile.password.length" [passwordToCheck]="profile.password"
          (onGetPasswordValidation)="setPasswordValidation($event)"></app-password-validator>
      </div>
      <div class="col-sm-6"></div>
    </div>
    <div class="form-group row">
      <label for="workplace" class="col-sm-2"><strong>Workplace</strong></label>
      <div class="col-sm-4">
        <input type="text" id="workplace" name="workplace" class="form-control" [(ngModel)]="profile.workplace"
          spellcheck="false" />
      </div>
      <div class="col-sm-6"></div>
    </div>
    <div class="form-group row">
      <label for="location" class="col-sm-2"><strong>Location</strong></label>
      <div class="col-sm-4">
        <input type="text" id="location" name="location" class="form-control" [(ngModel)]="profile.location"
          spellcheck="false" />
      </div>
      <div class="col-sm-6"></div>
    </div>
    <div class="form-group row">
      <label for="education" class="col-sm-2"><strong>Education</strong></label>
      <div class="col-sm-4">
        <input type="text" id="education" name="education" class="form-control" [(ngModel)]="profile.education"
          spellcheck="false" />
      </div>
      <div class="col-sm-6"></div>
    </div>
    <div class="form-group row">
      <label for="about" class="col-sm-2"><strong>Avatar</strong></label>
      <div class="col-sm-10">
        <p>
          Your Gravatar will be automatically retrieved based on your email. However, you can also upload a
          custom image. By default, the custom image will have higher priority.
        </p>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <app-image-upload [currentUrl]="profile.avatarUrl" [uploadType]="'profile'" [imageWidth]="300"
          [imageHeight]="300" (urlChange)="profile.avatarUrl=$event"></app-image-upload>
      </div>
      <div class="col-sm-6">
        <img ngxGravatar [(email)]="profile.email" [(src)]="profile.avatarUrl" class="bio-avatar">
      </div>
    </div>
    <div class="form-group row">
      <label for="about" class="col-sm-2"><strong>Social Links</strong></label>
      <div class="col-sm-10">
        <div class="row p-1">
          <label for="twitterUrl" class="col-sm-2"><strong>Twitter</strong></label>
          <div class="col-md-10">
            <input type="text" id="twitterUrl" name="tw;itterUrl" class="form-control" [(ngModel)]="profile.twitterUrl"
              spellcheck="false" />
          </div>
        </div>
        <div class="row p-1">
          <label for="facebookUrl" class="col-sm-2"><strong>Facebook</strong></label>
          <div class="col-md-10">
            <input type="text" id="facebookUrl" name="facebookUrl" class="form-control"
              [(ngModel)]="profile.facebookUrl" spellcheck="false" />
          </div>
        </div>
        <div class="row p-1">
          <label for="githubUrl" class="col-sm-2"><strong>Github</strong></label>
          <div class="col-md-10">
            <input type="text" id="githubUrl" name="githubUrl" class="form-control" [(ngModel)]="profile.githubUrl"
              spellcheck="false" />
          </div>
        </div>
        <div class="row p-1">
          <label for="linkedinUrl" class="col-sm-2"><strong>LinkedIn</strong></label>
          <div class="col-md-10">
            <input type="text" id="linkedinUrl" name="linkedinUrl" class="form-control"
              [(ngModel)]="profile.linkedinUrl" spellcheck="false" />
          </div>
        </div>
        <div class="row p-1">
          <label for="stackOverflowUrl" class="col-sm-2"><strong>Stack Overflow</strong></label>
          <div class="col-md-10">
            <input type="text" id="stackOverflowUrl" name="stackOverflowUrl" class="form-control"
              [(ngModel)]="profile.stackOverflowUrl" spellcheck="false" />
          </div>
        </div>
        <div class="row p-1">
          <label for="personalUrl" class="col-sm-2"><strong>Personal Site</strong></label>
          <div class="col-md-10">
            <input type="text" id="personalUrl" name="personalUrl" class="form-control"
              [(ngModel)]="profile.personalUrl" spellcheck="false" />
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="about" class="col-sm-2"><strong>About Me</strong></label>
      <div class="col-sm-10">
        <ckeditor id="about" name="about" [config]="editorOptions" [editor]="editor" [(ngModel)]="profile.about">
        </ckeditor>
      </div>
    </div>
    <div class="form-group row">
      <label for="created" class="col-sm-2"><strong>Joined</strong></label>
      <div class="col-sm-10">
        <span id="created" name="created">{{profile.created | date}}</span>
      </div>
    </div>
    <app-profile-unsubscribe-selector *ngIf="profile.email" [subscriberEmail]="profile.email"></app-profile-unsubscribe-selector>
    <hr />
    <div class="form-group">
      <div *ngIf="f.submitted && f.form.invalid" class="alert alert-danger">
        Please correct any errors trying to save.
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
</div>
