<div class="container p-3">

  <ngb-tabset>
    <ngb-tab title="Posts">
      <ng-template ngbTabContent>
        <app-posts-list-selector></app-posts-list-selector>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Pages">
      <ng-template ngbTabContent>
        <app-pages-list-selector></app-pages-list-selector>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Redirects">
      <ng-template ngbTabContent>
        <app-redirects-list-selector></app-redirects-list-selector>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Subscribers">
      <ng-template ngbTabContent>
        <app-subscribers-list-selector></app-subscribers-list-selector>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>


</div>
