/*ck editor override*/

.ck-media__wrapper {
  width: 50% !important;
}

.ck.ck-editor__main>.ck-editor__editable {
  max-height: 500px !important;
}

.ck.ck-dropdown .ck-button.ck-dropdown__button .ck-button__label {
  width: 8em !important;
}

/*end ck editor override*/

/*ag-grid override*/

.center-btn-cell {
  white-space: normal !important;
  overflow: visible;
  text-align: center;
  padding-top: 5px;
}

/*end ag-grid overrride*/

/* hljs override */

pre.nohighlight {
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

/* end hljs override */
