<div class="container">
  <div class="p-3">
    <h3 class="header-inline">Pages</h3>
    <a routerLink="pages/add" class="btn btn-primary float-end">
      <i class="icon-plus me-2"></i>New Page
    </a>
  </div>
  <div class="ag-grid-container">
    <ag-grid-angular class="ag-theme-material" [ngStyle]="gridStyle" [hidden]="!pages" [rowHeight]="50"
      [columnDefs]="pagesColumnDef" [frameworkComponents]="frameworkComponents" [context]="context"
      (gridReady)="onGridReady($event)" (firstDataRendered)="onFirstDataRendered()">
    </ag-grid-angular>
  </div>
</div>
